@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background: #EFEFEF;
    background: linear-gradient(to right, #4E4E4E, #EFEFEF);
}

.bg {
    background-image: url(../img/fondoLogin.jpg);
    background-position: center center;
}